Repository census-instrumentation/opencensus-go, pull requests merged in 2019-04, with the labels that each got.

#1123 Exemplar: Add new record APIs that take exemplar attachments and SpanContext key.
  metric/metricdata/exemplar.go
  stats/record.go
  stats/record_test.go
Labels: exemplar, metrics

#1118 Move exporters out from core.
  exporter/jaeger/agent.go
  exporter/jaeger/example/main.go
  exporter/jaeger/example_test.go
  exporter/jaeger/internal/gen-go/README
  exporter/jaeger/internal/gen-go/jaeger/GoUnusedProtection__.go
  exporter/jaeger/internal/gen-go/jaeger/agent.go
  exporter/jaeger/internal/gen-go/jaeger/collector-remote/collector-remote.go
  exporter/jaeger/internal/gen-go/jaeger/jaeger-consts.go
  exporter/jaeger/internal/gen-go/jaeger/jaeger.go
  exporter/jaeger/jaeger.go
  exporter/jaeger/jaeger_test.go
  exporter/prometheus/example/main.go
  exporter/prometheus/example_test.go
  exporter/prometheus/prometheus.go
  exporter/prometheus/prometheus_test.go
  exporter/zipkin/example/main.go
  exporter/zipkin/example_test.go
  exporter/zipkin/zipkin.go
  exporter/zipkin/zipkin_test.go
  go.mod
  go.sum
Labels: exporter

#1127 Exemplar: Record with sampled SpanContext in gRPC plugin.
  plugin/ocgrpc/client_stats_handler_test.go
  plugin/ocgrpc/server_stats_handler_test.go
  plugin/ocgrpc/stats_common.go
Labels: exemplar, grpc

#1124 Remove deprecated exemplar package.
  exemplar/exemplar.go
Labels: exemplar, refactor

#1134 Bump up the version to v0.22.0
  opencensus.go
Labels: cla: yes

#1136 remove triage-me label from template.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: cla: yes
